src/silentfrog/__pycache__/redirect_gui.cpython-312.pyc
tests/__pycache__/
src/silentfrog/__pycache__/__init__.cpython-312.pyc
src/silentfrog/__pycache__/
*.pyc
src/silentfrog/assets/icon1.png
src/silentfrog/assets/icon-old.png
.pytest_cache/
.pytest_runtime_tmp/
.pytest_runtime_cache/
.venv/
